*,
*::before,
*::after{
  box-sizing: inherit;
}


html{
  height: 100%;
  box-sizing: border-box;
}

img{
  display: block;
  height: auto;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", "Arial", sans-serif;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.site-header {
    background-color: antiquewhite;
    border-bottom: 1px solid #000;
}

.logo-text {
    font-size: 25px;
    margin: 0;
    color: darkcyan;
}

.logo-span {
    color: coral;
}

.portfolio-link {
    margin: 0;
    text-decoration: none;
    color: darkcyan;
}

.site-title {
    color: darkcyan;
}

.hero {
    background-color: antiquewhite;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
    min-height: 600px;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.book-img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 15px;
}

.book-title {
    font-size: 28px;
    color: darkcyan;
    text-transform: capitalize;
}

.mark {
    font-size: 28px;
    color: darkcyan; 
    background-color: coral;
}

.book-text {
    color: coral;
    margin: 0;
    text-align: left;
}

.book-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.year-text {
    display: flex;
    align-items: center;
    margin: 0;
    color: darkcyan;

}

.page-text {
    display: flex;
    align-items: center;
    margin: 0;
    color: darkcyan;

}

.language-text {
    display: flex;
    align-items: center;
    margin: 0;
    color: darkcyan;

}

.year-icon {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../icons/year.svg");
    background-repeat: no-repeat;
}

.page-icon {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../icons/pages.svg");
    background-repeat: no-repeat;
    margin: 0;
}

.language-icon {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../icons/language.svg");
    background-repeat: no-repeat;
}

.book-link {
    display: block;
    text-align: left ;
}